################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/AlitasKentaki.API/bin/Debug/netcoreapp3.1
/AlitasKentaki.API/obj
/AlitasKentaki.APIBusiness.DBContext/bin/Debug/netcoreapp3.1
/AlitasKentaki.APIBusiness.DBContext/obj
/AlitasKentaki.APIBusiness.DBEntity/bin/Debug/netcoreapp3.1
/AlitasKentaki.APIBusiness.DBEntity/obj
/UPC.APIBusiness.API.IS/bin/Debug/netcoreapp3.1
/UPC.APIBusiness.API.IS/obj
